* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-bar {
    width: 100%;
    height: 5rem;
    background-color: rgb(31, 31, 31);
    text-align: left;
    line-height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding-left: 1rem;
}

#series-container {
    display: flex;
    justify-content: start;
    align-content: start;
    align-items: start;
    flex-flow: row wrap;
    margin-top: 30px;
    height: 100vh;
    padding-left: 1rem;
}

.serie {
    height: 14rem;
    width: 10rem;
    position: relative;
    box-shadow: 0px 0px 10px 1px;
    margin-bottom: 2rem;
    transition: transform .2s ease;
    margin: 0 .5rem 2rem;
}

.serie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: .2s -moz-filter linear;
    -moz-transition: .2s filter linear;
}

.serie-info {
    position: absolute;
    padding: 7px;
    bottom: 0;
    left: 0;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity .2s linear;
}

.serie span img {
    width: 1rem;
    height: auto;
}

.serie:hover .serie-info {
    visibility: visible;
    opacity: 1;
}

.serie:hover .serie-poster {
    -webkit-filter:  brightness(60%);
    -moz-filter: brightness(60%);
}

.serie:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.serie-container {
    width: 100%;
    height: 30vh;
    position: relative;
}

.serie-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter:  brightness(40%);
    -moz-filter: brightness(40%);
}

.serie-container h1 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.5rem 2rem;
    font-size: 3rem;
}

.serie-data {
    color: black;
    height: 100%;
    width: 100%;
    padding: 1.5rem 2rem;
    display: inline-block;
}

.serie-data h2 {
    padding-bottom: 1rem;
}

.serie-data table {
    table-layout: fixed;
}

.serie-data th {
    text-align: left;
    vertical-align: top;
    width: 5rem;
    padding-bottom: .8rem;
}

.serie-data td {
    display: inline-block;
    margin: 0 .5rem;
    padding-bottom: .8rem;
}